/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url("background.jpg"); /* Updated path to the background image */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-center {
    text-align: center;
}

/* Header Styles */
header {
    background-color: #343a40; /* Dark background color for header */
    color: #ffffff; /* White text color for header */
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1 {
    margin-bottom: 5px;
}

/* Navigation Styles */
nav .nav-link {
    color: #ffffff; /* White text color for navigation links */
    margin-right: 15px;
    font-size: 18px;
}

nav .nav-link:hover {
    text-decoration: none; /* Remove underline on hover */
}

nav .nav-link.active {
    font-weight: bold;
}

/* Main Content Styles */
section h2 {
    color: #343a40; /* Dark text color for section headings */
}

section p {
    font-size: 18px;
}


.list-group-item {
    font-size: 18px;
    background-color: #f8f9fa; /* Light background color for list items */
    border: none;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Project Styles */
.project-card {
    background-color: #ffffff; /* White background color for project cards */
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}

.project-card h3 {
    color: #343a40; /* Dark text color for project titles */
    margin-top: 0;
}

.project-card p {
    color: #6c757d; /* Gray text color for project descriptions */
}

/* Contact Styles */
ul.list-inline {
    padding: 0;
}

ul.list-inline li {
    display: inline;
    margin-right: 20px;
}

ul.list-inline li:last-child {
    margin-right: 0;
}

footer {
    background-color: #343a40; /* Dark background color for footer */
    color: #ffffff; /* White text color for footer */
    padding: 15px 0;
}

footer p {
    margin: 0;
}
